/* Carousel */
.js-carousel {
  $offset: 30px;

  &-container {
    position: relative;
    overflow-x: clip;
  }

  &-item {
    position: absolute;
    transition: translate .5s ease-in-out;
    width: 100%;
  }

  &-item-last-copy {
    translate: calc(-100% - $offset);
  }

  @for $i from 0 through 60 {
    &-item-#{$i + 1} {
      translate: calc((100% + $offset) * #{$i});
    }
  }

  &-item-first-copy {
    translate: calc((100% + $offset) * 3);
  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    .next,
    .prev {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      background: $theme-color1 url(#{$images-path}arrow.svg) no-repeat center left 45%;
      background-size: 9px;

      &:hover {
        background-color: $theme-color6;
        transition: background-color .15s;
      }

      &.disabled {
        background-color: $theme-color3;
        pointer-events: none;
      }
    }

    .next {
      rotate: y 180deg;
    }

    .counter {
      font-size: 16px;
    }

    .index {
      min-width: 10px;
      display: inline-block;
      text-align: center;
    }

    .count {
      color: rgba($theme-color1, .6);
    }

    .marker {
      width: 10px;
      height: 10px;
      background-color: $theme-color3;
      border-radius: 50%;
      display: inline-block;
      margin-right: 6px;

      &:first-of-type {
        margin-left: 2px;
      }

      &:last-of-type {
        margin-right: 2px;
      }

      &.active {
        background-color: $theme-color1;
      }
    }
  }
}