/* Typography */
$font1: "Golos Text", serif;
$font2: "Merriweather", sans-serif;
$font-size-base: 20px;
$font-size-base-m: 18px;

/* Breakpoints */
$xxs: 375px;
$xs: 580px;
$s: 768px;
$m: 1024px;
$l: 1180px;
$xl: 1366px;
$xxl: 1600px;

/* Colour palette */
$white: #fff;
$black: #000;
$theme-color1: #313131;
$theme-color2: #1F1F1F;
$theme-color3: #D6D6D6;
$theme-color4: #F54932;
$theme-color5: #3057A2;
$theme-color6: #FBCE51;
$theme-color7: #E9DED4;

/* Grid setup */
$min-offset: 18px;
$max-offset: 72px;
$min-width: calc($xxs - $min-offset * 2);
$max-width: calc($xl - $max-offset * 2);

/* Paths */
$images-path: "/src/images/design/";